@font-face {
  font-family: Kugile;
  src: url("../../public/fonts/Kugile.ttf");
}
@font-face {
  font-family: Lufka;
  src: url("../../public/fonts/LufgaRegular.ttf");
}
@font-face {
  font-family: LufkaLight;
  src: url("../../public/fonts/LufgaExtraLight.ttf");
}
@import "tailwindcss";

.bg-gradient-gray-black {
  background: linear-gradient(to bottom, #66666600, #00000091);
}

@theme {
  --font-kugile: Kugile, "sans-serif";
  --color-primary: #F5F0E8;
  --font-lufga: Lufka, "sans-serif";
  --font-lufgaLight: LufkaLight, "sans-serif";
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none;  
  
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
}
